@charset "utf-8";
/* CSS Document */

*{
	margin: 0px;
	padding: 0px;
}

body {
	font-family: "Archivo", sans-serif;
}

header {
	background-color: #7F3AEE;
	width: 100%;
	height: 85px;
	padding: 20px;
	font-weight: 700px;
	font-size: 1em;
	display: flex;
	align-items: center;
	justify-content: space-between;
	box-sizing: border-box;
}

.botonesd a {
	text-decoration: none;
	color: #F4F4F4;
	padding: 10px;
}

nav {
	display: flex;
	align-items: center;
}


