@charset "utf-8";
/* CSS Document */

@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@700&display=swap');


*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

body {
	font-family: "Archivo", sans-serif;
}

header {
	background-color: #7F3AEE;
	width: 100%;
	height: 85px;
	padding: 20px;
	font-weight: 700px;
	font-size: 1em;
	display: flex;
	align-items: center;
	justify-content: space-between;
	box-sizing: border-box;
}

/*bienvenida index*/

.bienvenida {
	background-image: url("img/entrada.png");
	background-repeat: no-repeat;
	background-size: 100% auto;
}

a {
	text-decoration: none;
}

h1 {
	color: #F4F4F4;
	font-size: 12em;
	font-family: "Space Grotesk", sans-serif;
	animation: tracking-in-expand 1s cubic-bezier(.215,.61,.355,1.000) both
	
}

@keyframes tracking-in-expand{0%{letter-spacing:-.5em;opacity:0}40%{opacity:.6}100%{opacity:1}}

.troupe {
	display: flex;
	flex-direction: column;
	align-items: center !important;
	justify-content: center !important;
	height:83vh;
}

/*bienvenida 1*/

.bienvenida1 {
	background-image: url("img/bienvenida1.png");
	background-repeat: no-repeat;
	background-size: 100% auto;
}

.contenedor-bienv {
	width: 100%;
	display: flex;
	flex-direction: row;
	position: relative;
	top: 180px;
	align-items: center;
	height: 48vh;
}

.contenedor-bienv img {
	margin-right: 100px;
}
.contenedor-bienv article {
	width: 33%;
 	align-items:flex-start;
}

.contenedor-bienv article h2 {
	margin: 0px;
	font-size: 2.7em;
	text-align: left;
	color: #F4F4F4;
	padding-bottom: 15px;
	line-height: 1.2em;
}

.contenedor-bienv article h3 {
	font-size: 1.7em;
	color: #F4F4F4;
	font-weight: 400;
	line-height: 1.3em;
}

.puntitos {
	height: 40vh;
}

.puntitos div a:hover {
	background-color: #66CC99;
}

/*registro*/

.contenedor-registro {
	width: 100%;
	display: flex;
	flex-direction: row;
	height: 100vh;
	align-items: center;
}

.fondo-registro{
	background-image: url("img/fondo-registro.png");
	background-repeat: no-repeat;
	background-size: 100% auto;
}

.registro {
	display:flex;
	flex-direction: column;
}

.registro form {
	display:flex;
	flex-direction: column;
	height: 700px;
	background-color: #66CC99;
	width: 700px;
	margin-left: 100px;
	align-items: flex-start;
	padding-left: 100px;
	justify-content: flex-start;
	padding-top: 100px;
}

.registro form label {
	margin-top: 30px;
	font-size: 1.2em;
}

.registro form input {
	font-size: 1.1em;
}

.registro form h2 {
	color: #F4F4F4;
	font-size: 2.5em;
}

.registro .button-violeta button {
	position: relative;
	bottom: 170px;
	left: 210px;
	background-color: transparent;
	color: #F4F4F4;
	border: solid #F4F4F4;
}

/*fin registro*/

/*bienvenida 2*/

.boton-ir-registro {
	border: 3px solid #F4F4F4;
	max-width: 300px;
	border-radius: 10px;
	padding: 5px 20px;
	margin-top: 40px;
}


.boton-ir-registro a h3{
	padding: 0px;
}


/* slider provincias */
.slider {
	position: relative;
}

.slider-container {
	position: relative;
	width: 100%;
	overflow: hidden;
	cursor: pointer;
}

.item {
	user-select: all;
}

/*fin slider provincias*/

/*mi perfil*/

.contenedormi-perfil {
	display: flex;
	flex-direction: row;
	padding:53px;
	background-color: #E5E5E5;	
	justify-content: center;
}

.datos-perfil {
	display: flex;
	flex-direction: row;
	background-color:#66CC99;
	width: 60%;
	margin-left: 60px;
	justify-content: space-around;
}


.infoperfil {
	color:#F4F4F4;
	padding: 55px 0px;
}

.infoperfil p{
	padding: 5px 0 25px 0;
	color: #F4F4F4;
}

.infoperfil h3{
	margin-bottom: 25px;
}


.hashtags {
	display: flex;	
}

.hashtags h4 {
	background-color: #F4F4F4;
	padding: 7px;
	border-radius: 7px;
	margin-right: 15px;
	color: #66CC99;
	
}
	
.perfil-manuel {
	display:flex;
	padding: 40px 0;
	justify-content: center;
	width: 25%;
}


.perfil-manuel article {
	background-color:#F4F4F4;
	padding: 50px 30px;
	margin: 20px;
	color: #F4F4F4;
	
}

.perfil-manuel article h5 {
	color: #7F3AEE;
	font-weight: 500;
}

.perfil-manuel article h3 {
	color: #7F3AEE;
}

.perfil-manuel article h4 {
	color: #7F3AEE;
}

.perfil-manuel h4 {
	padding-bottom: 20px;
}
	
.perfil-manuel a {
	margin-top: 20px;
}	

/*galería de imágenes*/

.slideshow-container {
	max-width: 1500px;
	position: relative;
	margin: auto;
}

.mySlides {
	display: none;
}

.dot {
	cursor: pointer;
	height: 15px;
	width: 15px;
	margin: 15px 2px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	transition:  0.6s ease;
}

.fade {
	animation-name: fade;
	animation-duration: 1.5s;
}

@keyframes fade {
	from {opacity: .4}
	to {opacity: 1}
}

.galeria {
	padding: 30px;
}

.galeria .active, .dot:hover {
	background-color: #66CC99;
}

/*fin galeria*/

/*Inicio slider comentarios*/
/*ver infinite*/
.comentarios {
	overflow: hidden;
 }

.item-comentario {

	margin-left: 100px;
	animation: slide 15s linear infinite;
}

@keyframes slide {
	0% {
		transform: translate3d(0, 0, 0);
}
	100% {
		transform: translate3d(-1500px, 0, 0); /* The image width */
}
}

/*Fin slider comentarios*/

.botonesd a {
	text-decoration: none;
	color: #F4F4F4;
	padding: 15px;
}

.botonhome:hover {
	color: #66CC99;
	font-weight: 600;
}

nav {
	display: flex;
	align-items: center;
}

.foto-portada {
	width: 100%;
	position: relative;
  top: 0;
  left: 0;
}

.portada {
	position: relative;
	top: 0;
	left: 0;
	z-index: 10;
}

.foto-perfil {
	position: absolute;
	top: 120px;
	right: 150px;
	z-index: 20;
}

.camara {
	position: absolute;
	top: 370px;
	right: 130px;
	z-index: 30;
}

footer {
	background-color: #7F3AEE;
	width: 100%;
	height: 100px;
	padding: 20px;
	font-weight: 700px;
	font-size: 0.8em;
	display: flex;
	align-items:center;
	justify-content: space-between;
	box-sizing: border-box;
	color: #f4f4f4;
}

footer ul {
	list-style: none;
	display:flex;
}

footer ul li {
	padding:18px;
	list-style: none;
}

footer ul li a {
	text-decoration: none;
	color: #f4f4f4;
}

footer ul li a:hover {
	color: #66CC99;
	font-weight: 600;
}

.redes img {
	padding: 5px;
}

.newsletter {
	display:flex;
	flex-direction: column;
	}

.newsletter p {
	padding-bottom: 7px;
	color: #F4F4F4;
}
.newsletter input {
	background-color: rgba(244,244,244,0.56); 
	border: 3px solid #7F3AEE;
	border-radius: 10px;
	padding: 3px 16px;
}

.newsletter label {
	color: #F4F4F4;
}

main {
	width: 100%;
	background-color: #F4F4F4;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

section {
	display: flex;
	flex-direction:column;
	justify-content: center;	
}

article {
	display: flex;
	flex-direction: column;
	align-items: center;
}

h2 {
	margin: 15px;
	text-align: center;
}

.contenedor-filtros {
	display:flex;
	padding: 20px;
	justify-content: center;
}

.contenedor-filtros img {
	padding-left:20px;
	padding-right:20px;
	
}

.contenedor-filtros :hover img {
	transform: scale(1.1);
}

.slider-container {
	display:flex;
	padding: 20px;
	justify-content: center;
}

.slider-container img {
	padding-left:20px;
	padding-right:20px;
	
}

.contenedor-perfiles {
	display:flex;
	padding: 40px 0;
	justify-content: center;
	flex-wrap: wrap;
}

.perfiles {
	height: 750px;
	margin-top: 20px;
	background-color: #7F3AEE;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.perfiles-solos {
	background-color: #E5E5E5;
	padding-top: 30px; 
}

.contenedor-perfiles article {
	background-color:#F4F4F4;
	padding: 30px;
	margin: 0px 20px 0px 20px;
	color: #F4F4F4;
	
	}

.perfiles-solos .contenedor-perfiles article {
	margin-bottom:40px;
}

.contenedor-perfiles article h5 {
	color: #7F3AEE;
	font-weight: 500;
}

.perfiles h2 {
	color: #F4F4F4;
}

.contenedor-perfiles article h3 {
	color: #7F3AEE;
}

.contenedor-perfiles article h4 {
	color: #7F3AEE;
}

.contenedor-perfiles h4 {
	padding-bottom: 20px;
}

.botones-perfil {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 5px;
}

/*botones*/

.button-violeta button {
	color: #7F3AEE;
	border: 3px solid #7F3AEE;
	background-color: #F4F4F4;
	border-radius: 10px;
	padding: 8px 10px;
	display: flex;
	align-items: center;
	cursor: pointer;
	text-decoration: none;
	font-weight: 700;
	font-size: 1.3em;
}

.button-violeta button:hover {
	background-color: #7F3AEE;
	color: #F4F4F4;
}

.button-blanco button {
	color: #F4F4F4;
	border: 3px solid #F4F4F4;
	background-color: #7F3AEE;
	border-radius: 10px;
	padding: 8px 10px;
	display: flex;
	align-items: center;
	cursor: pointer;
	text-decoration: none;
	font-weight: 700;
	font-size: 1.3em;
}

.button-blanco button:hover {
	background-color: #F4F4F4;
	color: #7F3AEE;
}

.botones-perfil .button-violeta button {
	font-size: 0.9em;
	padding: 5px 7px;
	border: 2.5px solid;
}

.intereses .button-violeta button {
	margin: 17px 0px 0px 15px;
}

.contenedor-bienv .button-blanco button {
	background-color: transparent;
	margin-top: 40px;
}

.contenedor-bienv .button-blanco button:hover {
	background-color: #F4F4F4;
}

.botones-perfil img {
	margin: 10px 8px 5px 8px;
}

.boton-armar-troupe {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 60px 0px;
}

/*fin botones*/

.contenedor-comentarios {
	display:flex;
	justify-content: center;
	padding: 20px;
}

.contenedor-comentarios article {
	width:22%;
	background-color: #F4F4F4;
	padding: 20px;
	display:flex; 
	align-items: flex-start;
	margin: 0px 18px 0px 18px;
	flex-shrink: 0;
}

.contenedor-comentarios article h4 {
	color: #7F3AEE;
	padding-top: 8px;
}

.comentarios {
	padding: 20px 0px 40px 0px;
	background-color: #66CC99;
}

.comentarios h2 {
	color: #F4F4F4;
}

p {
	font-size: 0.9em;
	color: #7F3AEE;
	line-height: 1.25em;
}

.videos {
	display:flex;
	flex-direction: row;
	padding: 20px 0px 40px 0px;
	
}

.videos article {
	padding:10px 30px;
}

.videos article iframe {
	padding: 18px;
}


h2 {
	color: #7F3AEE;
	padding-top: 15px;
	font-weight: 500;
}

article h5 {
	max-width: 250px;
	text-align: center;
	padding: 3px;
	color: #2C2C27;
	font-size: 0.9em;
	line-height: 1.3em;
}

h4 {
	font-weight: 700;
	padding-top: 3px;
}

h3 {
	padding: 15px 0px 8px 0px;
	font-weight: 600;
	font-size: 1.3em;
	margin: 0px;
}

.busqueda {
	background-color: #7F3AEE;
	height: auto;
	color: #F4F4F4;
}


.busqueda h2 {
	color:#F4F4F4;
}

.busqueda article h5 {
	color: #F4F4F4;
}

.festivales, .busqueda, .provincias {
	padding: 30px 0px 20px 0px;
}
.boton a {
	text-decoration: none;
}

.boton h2{
	background-color: #F4F4F4;
	border: 3px solid #7F3AEE;
	max-width: 300px;
	border-radius: 10px;
	padding: 12px 16px;
}
.boton h4{
	background-color: #F4F4F4;
	border: 3px solid #7F3AEE;
	max-width: 300px;
	border-radius: 10px;
	padding: 5px 10px;
	color: #7F3AEE;
}

.boton {
	display: flex;
	justify-content: center;
	padding: 30px;
}

form h2 {
	color: #7F3AEE;
	font-size: 1.5em;
	text-align: left
	
}

form p {
	margin-left: 15px;
	color:#2C2C27;
	font-size: 1em;
	
}
form {
	width:90%;
	height: 100%;
	background-color: #F4F4F4;
	display: flex;
	justify-content:center;
	margin: 50px 0px;
	
}

form div {
	width: 30%;
	height:100%;
}


label {
	display:block;
	height: 25px;
	padding-left: 15px;
	color:#2C2C27;
	font-size: 1em;
	}

input {
	width:350px;
	height: 35px;
	background-color: #E5E5E5;
	font-family: "Archivo", sans-serif;
	margin: 0px 0px 15px 15px;
	border-radius: 10px; 
	padding: 4px 0px 4px 10px;
	outline: none;
	border: none;
}


.borrar {
	width: 100px;
	padding: 0px

}


.boton-form {
	background-color: #E5E5E5;
	color: white;
	padding: 16px;
	font-size: 16px;
	border-radius:10px;
	width: 350px !important;
	border: none;
	margin: 6px 0px 15px 15px;
}

.boton-comenzar a {
	text-decoration: none;
	color: #7F3AEE;
	text-align: center;
}

.boton-comenzar {
	border-radius: 10px;
	border: 3px solid #7F3AEE;
	width: 350px;
	margin: 15px;
}

.boton-comenzar a h3 {
	padding: 8px 0px;
}

.drop {
	position: relative;
	display: inline-block;

}

.bajada {
 	display: none;
 	position: absolute;
	width: 350px !important;
 	border-radius: 10px;
	background-color: #E5E5E5;
	margin-left: 15px;
	min-width: 160px;
	z-index: 1;
}

.bajada a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

.bajada a:hover {
	background-color: #66CC99;
	border-radius: 10px;
}

.drop:hover .bajada {
	display: block;
}

@media screen and (max-width: 600px){
	
	header {
		font-size: 1.2em;
	}

	.contenedor-perfiles {
		flex-direction: row;
	}

	.perfiles {
		height: auto;
		padding: 30px 0px 30px 0px;
	}

	.contenedor-perfiles article {
		width: 40%;
		margin-bottom: 40px;
	}
	.contenedor-perfiles article .botones-perfil img {
		width: 30px;
	}
	
	.contenedor-perfiles article img {
		width: 100%;
	}
	
	.galeria {
		padding-bottom: 0px;
	}	

	.videos {
		flex-direction: column;
		
	}
	.videos h2 {
		max-width: 400px;
		line-height: 1.3em;
	}

	.contenedor-comentarios article {
		width:50%;

	}	
	.newsletter {
		display: none;
	}

	footer ul li {
		padding:6px;
		width: 50%;
	}	

	footer ul {
		width: 55%;
		flex-wrap: wrap;
	}
	
	footer ul li a {
		
	}
	
	
	.redes {
		padding: 0;
		width: 25%;
	}
	.redes img {
		padding: 0;
		width: 32%;
	}

	.contenedor-filtros {
		flex-direction: column;
	}	
	.contenedor-filtros img{
		width: 70%;
		margin-top: 40px;
	}
	.busqueda article h5 {
		min-width: 300px;
}
	.videos article iframe {
	width: 100%;
}
	
}

	
